
:root {
    --primary-color: #ebefee;
    --secondary-color: #ecd4b9;
    --text-light: #b8805d;
    --text-normal: #c96840;
    --text-dark: #4a413c;
}

body {
    margin: 0;
    background: var(--text-light);
    text-align: center;
    text-decoration-color: azure;
}

.title_box {
    background: var(--primary-color);
    text-align: center;
    border: 4px solid var(--text-dark);
    padding: 20px;
}

.heading_box {
    text-align: center;
    border: 4px solid var(--text-normal);
    height: auto;
    min-height: 60px;
    max-height: 100px;
    width: auto;
    min-width: 100px;
    max-width: 300px;
    margin: 10px auto;
    padding: 5px;
}

.section_box {
    background: var(--secondary-color);
    margin: 20px;
    padding: 10px 100px;
}

@font-face {
    font-family: 'BuiltTitling';
    src: url('fonts/built titling rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CreatoDisplay';
    src: url('fonts/CreatoDisplay-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    color: var(--text-dark);
    font-family: "BuiltTitling", sans-serif;
    font-size: 64px;
}

h2 {
    color: var(--text-normal);
    font-family: "CreatoDisplay", sans-serif;
    font-size: 36px;
}

p {
    color: var(--text-light);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

a {
    color: var(--text-dark);
    font-family: "CreatoDisplay", sans-serif;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--text-dark);
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--text-dark);
}

button {
    color: var(--text-dark);
    font-family: "CreatoDisplay", sans-serif;
    font-size: 24px;
    background: var(--primary-color);
    text-align: center;
    border: 2px solid var(--text-dark);
    padding: 5px 10px;
    margin: 10px;
}